.page-wrapper{
  background-color: grey;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.main-card{
  background-color: white;
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  
}
.signup-container {
  border-radius: 8px;
}

.title {
  margin-top: 30px;
  padding-top: 10%;
  font-size: 40px;
  text-align: center;
}

.signup-form {
  border-radius: 5px;
  padding: 20px;
}

label {
  display: inline-block;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  display: block;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.terms {
  margin: 10px 0;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  font-size: large;
  color: white;
  background-color: rgb(73, 73, 242);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #45a049;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  text-align: center;
}